<a href="/files/retail-om.pdf" target="_blank">
  <div style="display:flex; justify-content:center;">
    <div class="site-testimonial-item" style="background-color: #F7F9FF; padding-bottom:0px;">
      <div class="site-testimonial-item-header">
        <div class="person">
          <h5>View Retail Offering Memorandum</h5>
          <div style="display:flex; justify-content:center;">
            <div class="thumb">
              <img src="/images/commitments/hand-shake.png" alt="view offering memorandum">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>